<app-navbar></app-navbar>
<app-hero></app-hero>
<div class="content w-100 m-auto">
    <!-- <div id="content0">
        <h2 class="headline">Our signature dishes</h2>
        <div id="cards"></div>
    </div> -->
    <div id="content1">
        <div class="flexText">
            <h3 class="headline">Lorem ipsum dolor sit amet.</h3>
            <img src="../../assets/img/line_big.png" class="decoration" width="300px" alt="decoration">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa nemo dolore harum molestiae doloribus odio incidunt, voluptate dolorum quos vel dignissimos facilis veritatis voluptas! Quos facilis vero, eum excepturi laudantium sit harum earum debitis ab officiis. Excepturi maxime praesentium distinctio commodi veniam odio mollitia libero at omnis repellat neque amet, labore aliquam porro dicta voluptas sint asperiores laborum repellendus. Illo harum quas pariatur odit possimus obcaecati non iusto perferendis aspernatur dolor ipsum temporibus libero nulla, debitis dolorem? Saepe, error. Commodi nesciunt soluta ipsa inventore sed velit praesentium, voluptate, quam et iure fugit illo sequi quod laudantium aperiam mollitia! Quisquam.</p>
        </div>
        <div class="flexImg">
            <img src="../../assets/img/MG_8701-w1400-h1400.jpg" class="imageNotRound" alt="food">
        </div>
    </div>

    <div id="content2">
        <div class="flexImg">
            <img src="../../assets/img/MG_8840-w1400-h1400.jpg" class="imageNotRound" alt="food">
        </div>
        <div class="flexText">
            <h3 class="headline">Lorem ipsum dolor sit amet.</h3>
            <img src="../../assets/img/line_big.png" width="300px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa nemo dolore harum molestiae doloribus odio incidunt, voluptate dolorum quos vel dignissimos facilis veritatis voluptas! Quos facilis vero, eum excepturi laudantium sit harum earum debitis ab officiis. Excepturi maxime praesentium distinctio commodi veniam odio mollitia libero at omnis repellat neque amet, labore aliquam porro dicta voluptas sint asperiores laborum repellendus. Illo harum quas pariatur odit possimus obcaecati non iusto perferendis aspernatur dolor ipsum temporibus libero nulla, debitis dolorem? Saepe, error. Commodi nesciunt soluta ipsa inventore sed velit praesentium, voluptate, quam et iure fugit illo sequi quod laudantium aperiam mollitia! Quisquam.</p>
        </div>
    </div>

    <div id="content3">
        <div class="flexText">
            <h3 class="headline">Lorem ipsum dolor sit amet.</h3>
            <img src="../../assets/img/line_big.png" class="decoration" width="300px" alt="decoration">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa nemo dolore harum molestiae doloribus odio incidunt, voluptate dolorum quos vel dignissimos facilis veritatis voluptas! Quos facilis vero, eum excepturi laudantium sit harum earum debitis ab officiis. Excepturi maxime praesentium distinctio commodi veniam odio mollitia libero at omnis repellat neque amet, labore aliquam porro dicta voluptas sint asperiores laborum repellendus. Illo harum quas pariatur odit possimus obcaecati non iusto perferendis aspernatur dolor ipsum temporibus libero nulla, debitis dolorem? Saepe, error. Commodi nesciunt soluta ipsa inventore sed velit praesentium, voluptate, quam et iure fugit illo sequi quod laudantium aperiam mollitia! Quisquam.</p>
        </div>
        <div class="flexImg">
                <img src="../../assets/img/MG_8701-w1400-h1400.jpg" class="imageNotRound" alt="food">
        </div>
    </div>

    <div id="content4">
        <div class="flexImg">
            <img src="../../assets/img/MG_8840-w1400-h1400.jpg" class="imageNotRound" alt="food">
        </div>
        <div class="flexText">
            <h3 class="headline">Lorem ipsum dolor sit amet.</h3>
            <img src="../../assets/img/line_big.png" width="300px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa nemo dolore harum molestiae doloribus odio incidunt, voluptate dolorum quos vel dignissimos facilis veritatis voluptas! Quos facilis vero, eum excepturi laudantium sit harum earum debitis ab officiis. Excepturi maxime praesentium distinctio commodi veniam odio mollitia libero at omnis repellat neque amet, labore aliquam porro dicta voluptas sint asperiores laborum repellendus. Illo harum quas pariatur odit possimus obcaecati non iusto perferendis aspernatur dolor ipsum temporibus libero nulla, debitis dolorem? Saepe, error. Commodi nesciunt soluta ipsa inventore sed velit praesentium, voluptate, quam et iure fugit illo sequi quod laudantium aperiam mollitia! Quisquam.</p>
        </div>
    </div>
    
</div>