<div class="contant w-100 m-auto">

    <div id="content1">
        <div class="flexLeft">
            <h3 class="headline">Lorem ipsum dolor sit amet.</h3>
            <img src="../../assets/img/line_big.png" class="decoration" width="300px" alt="decoration">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa nemo dolore harum molestiae doloribus odio incidunt, voluptate dolorum quos vel dignissimos facilis veritatis voluptas! Quos facilis vero, eum excepturi laudantium sit harum earum debitis ab officiis. Excepturi maxime praesentium distinctio commodi veniam odio mollitia libero at omnis repellat neque amet, labore aliquam porro dicta voluptas sint asperiores laborum repellendus. Illo harum quas pariatur odit possimus obcaecati non iusto perferendis aspernatur dolor ipsum temporibus libero nulla, debitis dolorem? Saepe, error. Commodi nesciunt soluta ipsa inventore sed velit praesentium, voluptate, quam et iure fugit illo sequi quod laudantium aperiam mollitia! Quisquam.</p>
        </div>
        <div class="flexRight">
            <img src="../../assets/img/MG_8701-w1400-h1400.jpg" class="rounded-circle imageRound" alt="food">
        </div>
    </div>

    <div id="box1" class="box">
        <div class="inner inner1">
            <h3 class="headline">Lorem ipsum dolor sit.</h3>
            <img src="../../assets/img/line_small.png" class="decoration" width="200px" alt="decoration">
            <p class="text-center m-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta modi commodi doloremque rerum laborum quasi. Porro repudiandae doloribus vero neque harum minima rem, repellendus laborum laudantium aliquid, non consequuntur cum nisi quis quo dolorem quidem praesentium sed recusandae est?</p>
        </div>
    </div>

    <div id="content2">
        <div class="flexLeft">
            <h3 class="headline">Lorem ipsum dolor sit amet.</h3>
            <img src="../../assets/img/line_big.png" width="300px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa nemo dolore harum molestiae doloribus odio incidunt, voluptate dolorum quos vel dignissimos facilis veritatis voluptas! Quos facilis vero, eum excepturi laudantium sit harum earum debitis ab officiis. Excepturi maxime praesentium distinctio commodi veniam odio mollitia libero at omnis repellat neque amet, labore aliquam porro dicta voluptas sint asperiores laborum repellendus. Illo harum quas pariatur odit possimus obcaecati non iusto perferendis aspernatur dolor ipsum temporibus libero nulla, debitis dolorem? Saepe, error. Commodi nesciunt soluta ipsa inventore sed velit praesentium, voluptate, quam et iure fugit illo sequi quod laudantium aperiam mollitia! Quisquam.</p>
        </div>
        <div class="flexRight">
            <img src="../../assets/img/MG_8840-w1400-h1400.jpg" class="rounded-circle imageRound" alt="food">
        </div>
    </div>

    <div id="box2" class="box">
        <div class="inner inner2">
            <h3 class="headline">Lorem ipsum dolor sit.</h3>
            <img src="../../assets/img/line_small.png" class="decoration" width="200px" alt="decoration">
            <p class="text-center m-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta modi commodi doloremque rerum laborum quasi. Porro repudiandae doloribus vero neque harum minima rem, repellendus laborum laudantium aliquid, non consequuntur cum nisi quis quo dolorem quidem praesentium sed recusandae est?</p>
            <p class="text-center m-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta modi commodi doloremque rerum laborum quasi. Porro repudiandae doloribus vero neque harum minima rem, repellendus laborum laudantium aliquid, non consequuntur cum nisi quis quo dolorem quidem praesentium sed recusandae est?</p>
            <p class="text-center m-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta modi commodi doloremque rerum laborum quasi. Porro repudiandae doloribus vero neque harum minima rem, repellendus laborum laudantium aliquid, non consequuntur cum nisi quis quo dolorem quidem praesentium sed recusandae est?</p>
        </div>
    </div>

     <div id="content3" class="formDiv">
        <div class="flexLeft">
            <h3 class="headline">Reserve a table</h3>
            <img src="../../assets/img/line_big.png" width="300px" alt="">
            <!-- <a id="reserveForm">
                <form class="form-group">
                    
                </form>
            </a> -->
        </div>
        <div class="flexRight">
            <img src="../../assets/img/MG_8840-w1400-h1400.jpg" class="rounded-circle imageRound" alt="food">
        </div>
    </div>

</div>
