.content{
    // margin-top: 100px;
    #image{
        width: 35rem;
        margin: 5rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    // #image:hover{
    //     transform: scale(1.05);
    //     transition: width 1s, height 1s, transform 1s;
    // }

    .btn{
        background-color: black;
        color: white;
    }
    .btn:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
        text-shadow: 2px 2px 4px #000000;
    }
}